# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto
#
# The above will handle all files NOT found below
#
# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.csproj text eol=crlf
*.DotSettings text
*.bat text eol=crlf
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.diff   text eol=lf
*.patch  text eol=lf
*.sh     text eol=lf
#
# Custom for Visual Studio
*.cs     text diff=csharp
